In [1]:
# Cell 1: imports + file path
import os
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 120)

# change filename if yours is different
raw_path = os.path.join('..','data','raw','Super - Superstore.csv')  

print("Expected path:", raw_path)

Expected path: ..\data\raw\Super - Superstore.csv

In [2]:
import os
import pandas as pd

file_path = r"C:\Users\darji\Projects\sales-dashboard-retail\data\raw\Sample - Superstore.csv"

if not os.path.exists(file_path):
    print("‚ùå File not found at:", file_path)
else:
    print("‚úÖ File found:", file_path)
    try:
        # Try reading with Windows encoding
        df = pd.read_csv(file_path, encoding='ISO-8859-1')
        print("‚úÖ File loaded successfully!")
        print("Rows:", df.shape[0], "Columns:", df.shape[1])
        display(df.head())
    except UnicodeDecodeError:
        print("üö´ Encoding error: try encoding='latin1' or 'utf-16'.")
    except Exception as e:
        print("‚ö†Ô∏è Unexpected error:", e)

‚úÖ File found: C:\Users\darji\Projects\sales-dashboard-retail\data\raw\Sample - Superstore.csv
‚úÖ File loaded successfully!
Rows: 9994 Columns: 21

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
# Cell 3: Data Overview
print("Dataset Overview")
print("-" * 60)
print("Shape (rows, columns):", df.shape)
print("\nColumn names:")
print(df.columns.tolist())
print("\nData types:")
print(df.dtypes)
print("\nFirst few rows:")
display(df.head())

Dataset Overview
------------------------------------------------------------
Shape (rows, columns): (9994, 21)

Column names:
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

Data types:
Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

First few rows:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
# Cell 4: Check for missing values
print("Missing Values per Column:")
missing = df.isnull().sum()
print(missing[missing > 0] if missing.sum() > 0 else "‚úÖ No missing values found.")

Missing Values per Column:
‚úÖ No missing values found.

In [5]:
# Cell 5: Check for duplicates
dup_count = df.duplicated().sum()
print(f"Duplicate Rows: {dup_count}")

if dup_count > 0:
    df = df.drop_duplicates()
    print("‚úÖ Duplicates removed. New shape:", df.shape)
else:
    print("‚úÖ No duplicate rows found.")

Duplicate Rows: 0
‚úÖ No duplicate rows found.

In [6]:
# Cell 6: Convert date columns
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

print("‚úÖ Dates converted to datetime format.")
print(df[['Order Date', 'Ship Date']].dtypes)

‚úÖ Dates converted to datetime format.
Order Date    datetime64[ns]
Ship Date     datetime64[ns]
dtype: object

In [7]:
# Cell 7: Add new time-based features
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month
df['Order Month Name'] = df['Order Date'].dt.strftime('%b')

print("‚úÖ Added columns: 'Order Year', 'Order Month', 'Order Month Name'")
display(df[['Order Date', 'Order Year', 'Order Month', 'Order Month Name']].head())

‚úÖ Added columns: 'Order Year', 'Order Month', 'Order Month Name'

  Order Date  Order Year  Order Month Order Month Name
0 2016-11-08        2016           11              Nov
1 2016-11-08        2016           11              Nov
2 2016-06-12        2016            6              Jun
3 2015-10-11        2015           10              Oct
4 2015-10-11        2015           10              Oct

In [8]:
# Cell 8: Check unique values in key columns
for col in ['Segment', 'Region', 'Category', 'Sub-Category', 'Ship Mode']:
    print(f"\n{col} - unique values:")
    print(df[col].unique())

Segment - unique values:
['Consumer' 'Corporate' 'Home Office']

Region - unique values:
['South' 'West' 'Central' 'East']

Category - unique values:
['Furniture' 'Office Supplies' 'Technology']

Sub-Category - unique values:
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

Ship Mode - unique values:
['Second Class' 'Standard Class' 'First Class' 'Same Day']

In [9]:
# Cell 9: Save cleaned dataset
cleaned_path = r"C:\Users\darji\Projects\sales-dashboard-retail\data\cleaned\superstore_cleaned.csv"

# Create folder if it doesn't exist
os.makedirs(os.path.dirname(cleaned_path), exist_ok=True)

df.to_csv(cleaned_path, index=False)
print(f"üíæ Cleaned dataset saved at: {cleaned_path}")

üíæ Cleaned dataset saved at: C:\Users\darji\Projects\sales-dashboard-retail\data\cleaned\superstore_cleaned.csv

In [10]:
# Cell 10: Quick EDA Preview
print("Total Sales:", round(df['Sales'].sum(), 2))
print("Total Profit:", round(df['Profit'].sum(), 2))
print("Total Orders:", df['Order ID'].nunique())
print("Total Customers:", df['Customer ID'].nunique())

print("\n‚úÖ Data preparation complete ‚Äî ready for dashboard analysis!")

Total Sales: 2297200.86
Total Profit: 286397.02
Total Orders: 5009
Total Customers: 793

‚úÖ Data preparation complete ‚Äî ready for dashboard analysis!